$white: #FFFCF2;
$charcoal: #373432;
$green: #00A676;
$lavendar: #C2AFF0;
// $purple: #615482;
$silver: #969EB0;
$lighter-green: #497367;

@media (prefers-color-scheme: dark) {
	:root {
		--bkgd: #{$charcoal};
		--bkgd-fade: #{rgba($white, 0.1)};
		--heading: #{$green};
		--heading-secondary: #{$silver};
		--text: #{$white};
		--link: #{$lavendar};
		--link-fade: #{rgba($lavendar, 0.7)};
		--highlight: #{$lighter-green};
	}
}
