@import "colours";
@import "home.scss";
@import "note.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: $bkgd;
	color: $text;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat", sans-serif;
	padding: 1rem 0;
	margin: 0;
	color: $head;
}
h1 {
	font-size: 2.5rem;
}

a, a:visited, a:hover {
	color: $text;
	outline: none;
	text-decoration: none;
	transition: all 0.15s ease-out;
}
a:hover {
	color: $link; 
	border-bottom-color: transparent;
}

main {
	p, span, a, li, pre, code {
		font-size: 1.2rem;
	}
	a, a:visited {
		border-bottom: 1.5px solid rgba($link, 0.7);
	}
}
main, footer {
	width: 80%;
	max-width: 1000px;
}
footer {
	margin: 1.5rem 0;
	a {
		opacity: 0.6;
		
		&:hover {
			opacity: 1;
		}
	}
}

.center {
	text-align: center;
}
