ul {
	line-height: 1.7;
}
pre.highlight {
	overflow-x: auto;
}
main small {
	&, & a, & p {
		font-size: smaller;
	}
}

table.no-border  {
	width: 100%;
	td {
		padding: 2.5px;
	}
	a {
		border-bottom: transparent;
	}
}
