ul {
	line-height: 1.7;
}
pre.highlight {
	overflow-x: auto;
}
main small {
	&, & a, & p {
		font-size: smaller;
	}
}

table.no-border  {
	width: 100%;
	td {
		padding: 2.5px;
	}
	a {
		border-bottom: transparent;
	}
}
.note {
	margin-top: 5rem;
}

table.w-auto {
  width: auto;
  display: inline-table;
  margin-right: 3.5rem;
}
